In [3]:
import pandas as pd

Read cvs and print start of file

In [4]:
oo = pd.read_csv('Data/Sams-Transaction.csv')
oo.head()

,Transaction Date,Posting Date,Reference Number,Amount,Description
0,10/14/2021,10/14/2021,554295090RS30A22L,-7.49,PAYPAL *KATHERINEMI FB 4029357733 CA
1,10/16/2021,10/16/2021,5543286915SDGV445,-21.73,SQ *HAWAIIAN AROMA CAF HONOLULU HI
2,10/14/2021,10/14/2021,054368490EHT6Y05T,-91.76,AINA HAINA FOODLAND FA HONOLULU HI
3,10/15/2021,10/15/2021,751911692S66QDFNA,-47.25,MD FASHION SHOP HAWAII HI
4,10/16/2021,10/16/2021,555062992BLNMT4L7,-70.00,DKTL GIFT SHOP HONOLULU HI

info about the data frame

In [5]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction Date  86 non-null     object
 1   Posting Date      86 non-null     object
 2   Reference Number  86 non-null     object
 3   Amount            86 non-null     float64
 4   Description       86 non-null     object
dtypes: float64(1), object(4)
memory usage: 3.5+ KB

count of unique values

In [9]:
oo.Description.value_counts()

HY-VEE CEDAR RAPIDS 10   CEDAR RAPIDS IA    13
CASEYS GEN STORE 2772    CEDAR RAPIDS IA     5
SAM'S CLUB 008162        CEDAR RAPIDS IA     3
GOODWILL INDUSTRIES OF   CEDAR RAPIDS IA     2
MASABI-LLC-RTD-DENVER    303-299-6000 CO     2
Name: Description, dtype: int64

get top 5 locations where purchaces were made

In [10]:
oo.Description.value_counts().head(5)

HY-VEE CEDAR RAPIDS 10   CEDAR RAPIDS IA    13
CASEYS GEN STORE 2772    CEDAR RAPIDS IA     5
SAM'S CLUB 008162        CEDAR RAPIDS IA     3
GOODWILL INDUSTRIES OF   CEDAR RAPIDS IA     2
MASABI-LLC-RTD-DENVER    303-299-6000 CO     2
Name: Description, dtype: int64

list the description column

In [7]:
oo.Description

0     PAYPAL *KATHERINEMI FB   4029357733   CA
1     SQ *HAWAIIAN AROMA CAF   HONOLULU     HI
2     AINA HAINA FOODLAND FA   HONOLULU     HI
3     MD FASHION SHOP          HAWAII       HI
4     DKTL GIFT SHOP           HONOLULU     HI
                        ...
81    WHT HS BLK MKT #3638     EAGAN        MN
82    CIELITO LINDO TAQUERIA   SAINT PAUL   MN
83    MCDONALD'S M2039         WEST BRANCH  IA
84    HILLTOP KENNELS LLC      CEDAR RAPIDS IA
85    HY-VEE CEDAR RAPIDS 10   CEDAR RAPIDS IA
Name: Description, Length: 86, dtype: object

list all HY-VEE tranx

In [11]:
hv = oo[oo.Description.str.contains("HY-VEE")]
hv.head()

,Transaction Date,Posting Date,Reference Number,Amount,Description
26,10/20/2021,10/20/2021,02305379600DY3VPS,-24.10,HY-VEE CEDAR RAPIDS 10 CEDAR RAPIDS IA
34,10/22/2021,10/22/2021,02305379800F6GPW6,-19.62,HY-VEE CEDAR RAPIDS 10 CEDAR RAPIDS IA
39,10/24/2021,10/24/2021,02305379A00BTP6FS,-100.00,HY-VEE CEDAR RAPIDS 10 CEDAR RAPIDS IA
40,10/24/2021,10/24/2021,02305379A00BTP6HW,-7.03,HY-VEE CEDAR RAPIDS 10 CEDAR RAPIDS IA
42,10/25/2021,10/25/2021,02305379B00DV6DF8,-70.43,HY-VEE CEDAR RAPIDS 10 CEDAR RAPIDS IA